@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400&display=swap");

// colors variables
$color-black: #000;
$color-blue: #247fd1;
$color-brick: #a74713;
$color-brick-light: #e7b295;
$color-deep-purple: #401b34;
$color-grass: #387323;
$color-grass-dark: #325032;
$color-gray: #c9c9c9;
$color-white: #fff;
// colors variables --- end

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Kanit", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  overflow-x: hidden;
  padding: 0;

  .wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    width: 100vw;

    &.bg {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../img/bg.jpg");
      background-color: transparent;

      .mini-logo {
        display: none;
      }

      footer {
        background: none;

        .logo {
          img {
            &.logo-white {
              display: none;
            }

            &.logo-black {
              display: block;
            }
          }
        }

        .copyrights {
          display: none;
        }
      }
    }

    header {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      padding: 15px 15px 0 15px;
      width: 100%;

      a.mini-logo {
        max-width: 115px;
        width: 35%;

        img {
          width: 100%;
        }
      }

      // hamburger
      label {
        .menu {
          background: $color-deep-purple;
          border-radius: 0 0 0 100px;
          cursor: pointer;
          height: 90px;
          position: absolute;
          right: 0;
          top: 0;
          transition: 0.5s ease-in-out;
          width: 90px;
          z-index: 50;

          .hamburger {
            background: $color-white;
            display: block;
            height: 2px;
            position: absolute;
            right: 20px;
            top: 31px;
            transform-origin: center;
            transition: 0.5s ease-in-out;
            width: 30px;

            &::before,
            &::after {
              background: $color-white;
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              transition: 0.5s ease-in-out;
              width: 100%;
            }

            &::before {
              top: -10px;
            }

            &::after {
              bottom: -10px;
            }
          }
        }

        ul {
          list-style: none;
          opacity: 0;
          position: absolute;
          right: 45px;
          top: 80px;
          transition: 0.5s 0s ease-in-out;
          z-index: -1;

          li {
            a {
              color: $color-white;
              display: block;
              font-size: 0.8em;
              margin-bottom: 1em;
              text-decoration: none;
            }
          }
        }

        input {
          display: none;

          &:checked + .menu {
            border-radius: 0;
            height: 100vh;
            width: 245px;

            .hamburger {
              transform: rotate(45deg);

              &:before,
              &:after {
                top: 0;
                bottom: 0;
                transform: rotate(90deg);
              }
            }

            & + ul {
              opacity: 1;
              z-index: 60;
            }
          }
        }
      }
      // hamburger --- end
    }

    main {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      text-align: center;
      width: 100%;

      section {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
        text-align: center;

        // sign in form, sign up form, products search form, add product form
        form {
          display: flex;
          flex-direction: column;
          margin: 0 0 35px 0;
        }

        input,
        textarea {
          background: transparent;
          border-radius: 8px;
          border: none;
          box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.75);
          font-family: "Kanit", sans-serif;
          height: 40px;
          margin: 0 auto 15px auto;
          outline: none;
          padding: 6px 14px;
          width: 280px;

          &.upload-file-input {
            border-radius: 0;
            box-shadow: none;
            padding: 0;

            &::-webkit-file-upload-button {
              background: $color-brick;
              border-radius: 8px;
              border: none;
              box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.75);
              color: $color-white;
              cursor: pointer;
              font-family: "Kanit", sans-serif;
              margin: 0 15px 0 0;
              padding: 6px 14px;
            }
          }
        }

        textarea {
          height: auto;
          padding: 10px 14px;
        }

        p.form-messages {
          color: $color-brick;
          font-size: 16px;
          margin: 0 auto 15px auto;
        }
        // sign in form, sign up form, products search form, add product form -- end

        // sign in submit button, sign up submit button, add product buttons
        a.function-button,
        button.function-button {
          background: $color-grass;
          border-radius: 8px;
          border: none;
          box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.75);
          color: $color-white;
          cursor: pointer;
          font-size: 14px;
          font-weight: 300;
          height: 30px;
          margin: 0 auto 15px auto;
          outline: none;
          padding: 5px 14px;
          text-decoration: none;
          transition: 0.5s ease-in-out;
          width: 280px;

          &:hover {
            background: $color-grass-dark;
          }
        }

        button.close-button {
          background: none;
          border: none;
          cursor: pointer;
          height: 60px;
          position: absolute;
          right: 0;
          top: 0;
          width: 60px;

          .cross-icon {
            background: $color-deep-purple;
            display: block;
            height: 2px;
            position: absolute;
            right: 20px;
            top: 31px;
            transform-origin: center;
            transform: rotate(45deg);
            width: 30px;

            &::before,
            &::after {
              background: $color-deep-purple;
              bottom: 0;
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              top: 0;
              transform: rotate(90deg);
              width: 100%;
            }
          }
        }
        // sign in submit button, sign up submit button, add product buttons --- end

        // modal
        .modal {
          background: $color-white;
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
          height: auto;
          left: max(5%, calc(50% - 225px));
          max-width: 450px;
          position: absolute;
          top: 20%;
          width: 90%;
          z-index: 80;
          display: none;

          h4 {
            color: $color-grass;
            margin: 45px auto 30px auto;
          }

          p {
            font-size: 0.8em;
          }

          .form-wrapper {
            form {
              input,
              textarea,
              button.function-button {
                width: 90%;
              }
            }
          }

          &.open {
            display: block;
          }
        }
        // modal --- end

        // each views top section
        &.view-description {
          h2 {
            color: $color-deep-purple;
            font-size: 1em;
            margin: 0 15px;
          }

          p {
            font-size: 0.6em;
            font-weight: 300;
            margin: 30px 15px;
            max-width: 768px;
          }
        }
        // each views top section --- end

        // sign_in, sign_up sections
        &.sign-in,
        &.sign-up {
          .invalid {
            border: 3px solid red;
            border-radius: 5px;
            box-shadow: 0 0 3px red;
            outline: none;
          }
        }
        // sign_in, sign_up sections --- end

        // about section
        &.team {
          flex-direction: row;
          justify-content: space-between;
          max-width: 500px;

          .team-member {
            display: flex;
            flex-direction: column;
            max-width: 150px;
            width: 30%;

            .photo {
              width: 100%;

              img {
                border-radius: 50%;
                width: 100%;
              }
            }

            h5 {
              font-size: 0.6em;
              margin: 0;
            }

            .contact {
              a {
                font-size: 0.8em;
                text-decoration: none;
                color: $color-brick;
              }
            }
          }
        }
        // about section --- end

        // products section
        &.products {
          margin-top: 1em;

          .product-tile {
            background-color: $color-brick-light;
            border: 1px solid $color-gray;
            margin: 5px;
            padding: 0;
            width: 90%;

            .image {
              align-items: center;
              background-color: $color-white;
              display: flex;
              justify-content: center;
              width: 100%;
              height: 50vw;
              max-height: 270px;

              img {
                height: auto;
                max-height: 100%;
                max-width: 100%;
              }
            }

            .name {
              align-items: start;
              background: $color-brick-light;
              display: flex;
              height: auto;
              justify-content: space-between;
              padding: 10px;

              h5 {
                color: $color-brick;
                display: block;
                font-size: 0.5em;
                font-weight: 500;
                line-height: 1;
                margin: 0;
                text-align: left;
              }

              form {
                cursor: pointer;
                margin: 0;
                padding: 0 0 0 10px;

                input {
                  display: none;
                }

                button.function-button {
                  background: $color-deep-purple;
                  width: auto;
                }
              }
            }
          }
        }
        // products section --- end

        // product details section
        &.product-details {
          display: flex;
          flex-direction: column;

          .product-image {
            width: 100%;

            img {
              width: 100%;
              max-width: 300px;
              margin: 0 auto 0.5em auto;
            }
          }

          .product-description {
            width: 100%;
            text-align: center;
            padding: 0 1em;

            .product-header {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .product-name {
                h4 {
                  font-size: 0.7em;
                  margin: 0 auto 0.5em;
                  font-weight: 500;
                  color: $color-blue;
                }

                h3 {
                  color: $color-deep-purple;
                  font-size: 0.9em;
                  margin: 0 auto;
                }
              }

              .product-editor-section {
                border-top: 1px solid $color-gray;
                border-bottom: 1px solid $color-gray;
                margin: 30px 0;
                padding: 5px 0 7px 0;

                button.function-button {
                  box-shadow: none;
                  background: none;
                  margin: 0;
                  text-align: center;
                  width: 50px;

                  i {
                    color: $color-grass-dark;
                    font-size: 1.3em;
                  }
                }
              }
            }

            #product-favourites {
              cursor: pointer;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              margin: 0 auto 1.5em auto;

              i {
                color: $color-brick;
              }

              h6 {
                margin: 0 0 0 10px;
              }

              &.clicked {
                i {
                  font-weight: 600;
                }
              }
            }

            .product-ingredients {
              p {
                font-size: 0.6em;
                font-weight: 300;

                span {
                  font-weight: 500;
                }
              }
            }
          }

          .modal {
            &#edit-product-modal {
              h4 {
                color: $color-blue;
              }

              .form-wrapper {
                form {
                  input[name="id"] {
                    display: none;
                  }

                  button.function-button {
                    width: 40%;
                  }
                }
              }
            }

            &#remove-product-modal {
              h4 {
                color: $color-brick;
              }

              p {
                margin-bottom: 3em;
              }

              .form-wrapper {
                form {
                  input {
                    display: none;
                  }

                  button.function-button {
                    width: 40%;
                  }
                }
              }
            }
          }
        }
        // product details section --- end

        // contact section
        &.contact-section {
          .contact-item {
            margin: 0 0 30px 0;

            i {
              font-size: 0.6em;
              color: $color-brick;
            }

            h5 {
              font-size: 0.8em;
              margin: 0;
            }
          }
        }
        // contact section --- end
      }
    }

    footer {
      align-items: center;
      background: $color-grass;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 30px;
      padding: 30px 30px 15px 30px;
      width: 100%;

      .logo {
        display: flex;
        max-width: 300px;
        width: 60%;

        img {
          width: 100%;

          &.logo-black {
            display: none;
          }
        }
      }

      .copyrights {
        p {
          color: $color-white;
          font-size: 0.6em;
          font-weight: 200;
          margin: 0 0 10px 0;
          padding: 0;
        }
      }
    }

    // add product section
    .overlay {
      background: $color-black;
      height: 100%;
      opacity: 0.5;
      position: fixed;
      width: 100%;
      z-index: 70;
      display: none;

      &.visible {
        display: block;
      }
    }
    // add product section --- end
  }
}

@media only screen and (min-width: 500px) {
  body {
    .wrapper {
      main {
        section {
          // products section
          &.products {
            align-items: stretch;
            flex-direction: row;
            flex-wrap: wrap;

            .product-tile {
              width: calc(50% - 10px);

              .image {
                height: 40vw;
              }
            }
          }
          // products section --- end
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  body {
    .wrapper {
      header {
        padding: 15px 30px 0 30px;

        // hamburger
        label {
          .menu {
            opacity: 0.9;
          }
        }
        // hamburger --- end
      }

      main {
        section {
          // products section
          &.products {
            .product-tile {
              width: calc(25% - 10px);

              .image {
                height: 20vw;
              }
            }
          }
          // products section --- end

          // product details section
          &.product-details {
            flex-direction: row;

            .product-image {
              width: 40%;
              text-align: right;

              img {
                margin: 0 0.5em 0 0;
                max-width: 450px;
              }
            }

            .product-description {
              width: 60%;
              text-align: left;

              .product-header {
                flex-direction: row;

                .product-editor-section {
                  margin: 0 30px 0 0;
                  border: none;
                  display: flex;
                  justify-content: center;
                  width: 90px;
                }
              }

              #product-favourites {
                justify-content: left;
                margin: 1em 0;
              }
            }
          }
          // product details section --- end
        }
      }

      footer {
        flex-direction: row;
        margin-top: 45px;

        .logo {
          width: 30%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  body {
    .wrapper {
      main {
        section {
          // each views top section
          &.view-description {
            h2 {
              font-size: 1.2em;
            }
          }
          // each views top section --- end

          // about section
          &.team {
            .team-member {
              h5 {
                font-size: 0.8em;
                margin: 10px 0 0 0;
              }
            }
          }
          // about section --- end
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  body {
    .wrapper {
      header {
        padding: 15px 45px 0 45px;
      }

      footer {
        padding: 25px 45px 10px 45px;
      }
    }
  }
}
